opencv-python
cmake
numpy
scipy
torch
pillow
ultralytics
tensorflow
scikit-learn
adafruit-circuitpython-servokit
adafruit-circuitpython-apds9960
adafruit-circuitpython-bh1750
onnxruntime
zenlog
zmq
PyQt6
wifi>=0.3.8
cvzone
picamera2
fastapi
uvicorn[standard]
vastai
python-multipart
qrcode
aiohttp
aiofile
netifaces
pyngrok
